.movies__list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 40px;
  list-style: none;
}

.movies__more-button {
  padding: 10px;
  background: #f9f9f9;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 15px;
  margin: 50px auto 0;
  min-width: 240px;
  border-radius: 6px;
  transition: background 300ms, color 300ms;
}

.movies__more-button:hover {
  background: #3456f3;
  color: #fff;
}

@media (min-width: 768px) {
  .movies__more-button {
    min-width: 320px;
  }
  .movies__list {
    gap: 45px 30px;
  }
}

@media (min-width: 1280px) {
  .movies__list {
    gap: 58px 30px;
  }
}
