.navigation {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.navigation_opened::before {
  content: "";
  background: #000;
  opacity: 0.3;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.burger {
  display: block;
  background: none;
  width: 40px;
  height: 38px;
  padding: 9px;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.burger__line {
  display: block;
  width: 100%;
  height: 2.5px;
  background: #000;
  margin-bottom: 6.5px;
  transition: transform 200ms;
}

.burger_opened .burger__line:nth-of-type(1) {
  transform: rotate(45deg) translate(6.5px, 6.5px);
}
.burger_opened .burger__line:nth-of-type(2) {
  transform: rotate(45deg);
}
.burger_opened .burger__line:nth-of-type(3) {
  transform: rotate(-45deg) translate(6.5px, -6.5px);
}

.navigation__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  flex: 1;
}

.navigation__link {
  font-size: 18px;
  padding: 4px 0;
  display: block;
  margin-bottom: 22px;
}

.navigation__link_active {
  border-bottom: 1px solid #000;
}

.navigation__list_visible {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  background: #fff;
  font-weight: 500;
  padding: 144px 10px 90px;
  width: 100%;
  max-width: 520px;
  height: 100vh;
  z-index: 1;
}

.navigation__button {
  display: flex;
  flex: 0;
  align-items: center;
  padding: 3px 3px 3px 11px;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
  border-radius: 40px;
  border: none;
  background: #fff;
  font-size: 13px;
  line-height: 1;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

.navigation__button::after {
  content: "";
  display: block;
  background: #f9f9f9 url(../../images/logo/navigation-user-icon.svg) center
    no-repeat;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin-left: 7px;
}

.navigation__list-item:last-of-type {
  flex: 1;
  display: flex;
  align-items: flex-end;
}

@media (min-width: 1024px) {
  .burger {
    display: none;
  }
  .navigation__list {
    display: flex;
    align-items: center;
  }
  .navigation__list-item {
    margin-right: 16px;
  }
  
  .navigation__list-item:last-of-type {
    margin-right: 0;
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  .navigation__link {
    font-size: 13px;
    margin-bottom: 0;
    padding: 4px;
    font-weight: 400;
  }
  .navigation__link_active {
    border-bottom: none;
    font-weight: 500;
  }
}
