.search {
  padding: 60px 10px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(170, 170, 170, 0.2);
}

.search__container {
  width: 100%;
}

.search-form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
}

.search-form__input {
  font-size: 11px;
  line-height: 18px;
  grid-row: 1;
  grid-column: 1 / -1;
  min-height: 48px;
  padding: 0 102px 0 15px;
  border: none;
  border-radius: 50px;
  outline: 1.5px solid rgba(170, 170, 170, 0.2);
  transition: outline 400ms;
}

.search-form__input::placeholder {
  color: #a0a0a0;
}

.search-form__input:focus {
  outline: 1.5px solid #2be080;
}

.search-form__button {
  margin-right: 7px;
  grid-row: 1;
  grid-column: -2 / -1;
  background: #3456f3 url(../../images/logo/search-icon.svg) center no-repeat;
  border: none;
  padding: 0;
  border-radius: 48px;
  min-width: 80px;
  min-height: 34px;
  cursor: pointer;
  transition: opacity 300ms;
}

.search-form__button:hover {
  opacity: 0.8;
}

@media (min-width: 1024px) {
  .search__container {
    display: flex;
  }

  .search-form {
    margin-right: 40px;
  }
}
