.filter-checkbox {
  margin: 45px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  line-height: 18px;
}

.filter-checkbox__input {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.filter-checkbox__switch {
  margin-left: 13px;
  width: 34px;
  height: 14px;
  background: #e8e8e8;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  transition: 300ms;
}

.filter-checkbox__switch::before {
  content: "";
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 2px;
  top: 2px;
  transition: 300ms;
}

.filter-checkbox__input:checked + .filter-checkbox__switch {
  background: #2be080;
}

.filter-checkbox__input:checked + .filter-checkbox__switch::before {
  transform: translateX(20px);
}
