.about-project__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0 0 60px;
  padding: 0;
}

.about-project__list-item {
  flex: 1 0 calc(50% - 15px);
}

.about-project__list-item:nth-of-type(1) {
  margin-bottom: 56px;
}

.about-project__list-title {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.04em;
  font-weight: 400;
  margin: 0;
}

.about-project__paragraph {
  margin: 16px 0 0;
  font-size: 11px;
  line-height: 16px;
}

.process {
  display: grid;
  grid-template-columns: minmax(100px, 1fr) 2fr;
  grid-template-rows: repeat(2, 35px);
}

.process__cell {
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 11px;
  line-height: 35px;
  text-align: center;
}

.process__cell_color_green {
  background: #2be080;
}

.process__cell_color_gray {
  background: #f2f2f2;
}

.process__cell_color_white {
  color: #a0a0a0;
}

@media (min-width: 560px) {
  .about-project__list {
    flex-direction: row;
  }

  .about-project__list-item:nth-of-type(1) {
    margin-right: 30px;
  }
}

@media (min-width: 768px) {
  .about-project__list-title {
    font-size: 20px;
    line-height: 1.2;
  }

  .about-project__paragraph {
    font-size: 12px;
    line-height: 1.5;
  }

  .process__cell {
    font-size: 14px;
  }
}

@media (min-width: 1280px) {
  .about-project__paragraph {
    font-size: 14px;
    line-height: 1.43;
  }
}
