@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

* {
  box-sizing: border-box;
}

#root {
  font-family: Inter, Helvetica, Arial, sans-serif;
}

.section {
  padding: 70px 18px;
}

.section__container {
  max-width: 1140px;
  margin: 0 auto;
}

.section__title {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.04em;
  font-weight: 400;
  margin: 0 0 60px;
  padding-bottom: 28px;
  border-bottom: 1px solid #000;
}

@media (min-width: 768px) {
  .section {
    padding: 90px 50px;
  }
}

@media (min-width: 1280px) {
  .section {
    padding: 100px 70px;
  }
}
